name: Go

on: [push]

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:

    - uses: actions/checkout@v4

    - uses: actions/setup-go@v4
      with:
        go-version: '>=1.20.10'

    - run: go test

    - run: go build

# based on: github.com/koron-go/_skeleton/.github/workflows/go.yml
