name: Go

on: [push]

env:
  GO_VERSION: '>=1.23.0'

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
        - ubuntu-latest
        # some of tests are failed with macos-latest (macos-14).
        # see also: https://github.com/koron/go-ssdp/issues/42
        - macos-13
        - windows-latest
    steps:

    - uses: actions/checkout@v5

    - uses: actions/setup-go@v6
      with:
        go-version: ${{ env.GO_VERSION }}

    - run: go test

    - run: go build

# based on: github.com/koron-go/_skeleton/.github/workflows/go.yml
